* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-container{
    padding: 200px;
}

.showcase {
    background-color: rgb(39,43,51);
    width: max-content;

}

.showcase-inner {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer { 
    background-color: rgb(32,35,41);
    padding-top: 30px;
}

h1{
    font-size: 95px;
    text-align: center;
    font-weight: 1000;
    color: rgb(32,35,41);
}

h2{
    font-weight: 1000;
    font-size: x-larges;
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    overflow-x: hidden;
}

.image-container{
    display: flex;
}

.image-container img{
    width: 229.2px;
    height: 220px;
    border-radius: 25px;
}

article{
    padding: 10px;
}

.character-card{
    display: flex;
    margin: 13.5px;
    background-color: rgb(60,62,68);
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(37, 37, 37, 0.5);
}

.character-info{
    display: flex;
    flex-direction: column;
    padding: 13.5px;
    position: relative;
}

.section{
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 64.33px;
    color: rgb(245,245,245);
}

.greytext{
    color: rgb(158,158,158);
    padding-top: 5px;
    padding-bottom: 10px;
}

.navbar {
    background-color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.2s;
}

.content-links{
    margin-left: auto;
    padding: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 750;
}

.content-links a:hover{
    color: rgb(255,152,0);
}

.homebutton{
    margin-right: auto;
}

.homebutton img{
    width: 50px;
    height: 50px;
}

.status {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.status-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
  
.status-dot.grey {
    background-color: rgb(158,158,158);
}
  
.status-dot.red {
    background-color: rgb(214,61,46);
}
  
.status-dot.green {
    background-color: rgb(85,204,68);
}
  
.about-content{
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-bottom: 20px;
    margin-left: 500px;
    margin-right: 500px;
    font-size: 110%;
    color: rgb(66,66,66);
}

.abouth2 {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
    color: rgb(32,35,41);
}

.abouth3 {
    font-size: 25px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(32,35,41);
}

.ablink {
    text-decoration-color: rgb(255,152,0);
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    color: rgb(66,66,66);
}

.ablink:hover {
    text-decoration: none;
    color: rgb(255,152,0);
    transition: color 0.2s;
}

.footer-info {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 40px;
    margin: 0;
    font-size: 15px;
    font-weight: 750;
    color: rgb(158, 158, 158);
}

.footer-info li {
    margin-right: 20px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10;
}

.socials a {
    margin: 10px;
}

.socials a:hover svg path {
    fill: rgb(255, 152, 0);
}

.sign {
    color: rgb(158, 158, 158);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
}

.footer-link {
    color:rgb(255, 255, 255);
    font-weight: 700;
    text-decoration-color: rgb(255,152,0);
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;

}

.footer-link:hover {
    text-decoration: none;
    color: rgb(255,152,0);
    transition: color 0.2s;
}